<load href="__PUBLIC__/{:UIKIT}/css/components/slideshow.min.css" />
<load href="__PUBLIC__/{:UIKIT}/css/components/slidenav.min.css" />
<load href="__PUBLIC__/{:UIKIT}/js/components/slideshow.min.js" />
    
<div class="uk-slidenav-position" data-uk-slideshow="{autoplay:true}" style="border:1px red solid;">
                                <ul class="uk-slideshow uk-overlay-active">
                                    <li>
                                        <img src="__PUBLIC__/Home/img/placeholder_800x400_1.jpg"   alt="">
                                        <div class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                                            <div>
                                                <h3>Overlay</h3>
                                                <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr,<br>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                                                <button class="uk-button uk-button-primary">Button</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="__PUBLIC__/Home/img/placeholder_800x400_2.jpg"  alt="">
                                        <div class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                                            <h3>Overlay Top</h3>
                                            <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                                            <button class="uk-button uk-button-primary">Button</button>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="__PUBLIC__/Home/img/placeholder_800x400_3.jpg"   alt="">
                                        <div class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                                            <h3>Overlay Bottom</h3>
                                            <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                                            <button class="uk-button uk-button-primary">Button</button>
                                        </div>
                                    </li>
                                </ul>
    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
 </div>
