<layout name="layout" />
<div class="tm-section-color-1">
    <div class="uk-container uk-container-center ">
        <div class="uk-block uk-contrast">
            <h1>{$cms_title|htmlspecialchars_decode}</h1>
        </div>
    </div>
</div>
<div class="tm-section-20"></div>
<div class="uk-container uk-container-center">
    <blockquote>
        <p><i class="uk-icon-quote-left uk-icon-large uk-align-left"></i> {$cms_desc}
        </p>
    </blockquote>
    <div class="tm-section-20"></div>
    <p>
        <article class="uk-article">
            {$cms_content|htmlspecialchars_decode}
        </article>
    </p>
</div>
<div class="tm-section-20"></div>
