<layout name="layout" />
<p><a href="__CONTROLLER__/index" class="uk-button uk-button-default">{$Think.lang.back}</a>
</p>
<form method="post" class='uk-form' action="__CONTROLLER__/updateHandle">
    <input type="hidden" name="wd_id" value="{$wd_id}" />
    <input type="hidden" name="wd_mid" value="{$wd_user_id}" />
    <input type="hidden" name="wd_amount" value="{$wd_amount}" />
    <input type="hidden" name="wd_enddate" value="{:date('Y-m-d H:i:s')}" />
    <table class="uk-table">
        <tr>
            <td width=180>{$Think.lang.user_id}</td>
            <td>
                <a href="javascript:void(0)" onclick='openwin("__MODULE__/Users/details/{$wd_user_id}")'>{$wd_user_id}</a>
            </td>
        </tr>
        <tr>
            <td>{$Think.lang.amount}</td>
            <td>
                {$wd_amount}
            </td>
        </tr>
        <tr>
            <td>{$Think.lang.fee}</td>
            <td>
                {$wd_fee}
            </td>
        </tr>
        <tr>
            <td>{$Think.lang.add_time}</td>
            <td>
                {$wd_date}
            </td>
        </tr>
        <tr>
            <td>{$Think.lang.status}</td>
            <td>
                <select name="wd_status">
                    <volist name=":withdraw_status()" id="vo">
                        <option value="{$key}" <eq name="key" value="$wd_status">selected</eq> >{$vo}</option>
                    </volist>
                </select>
            </td>
        </tr>
        <tr>
            <td>提现时余额</td>
            <td>{$wd_total}</td>
        </tr>
        <tr>
            <td>提现时押款</td>
            <td>{$wd_holdamount}</td>
        </tr>
        <tr class='uk-alert uk-alert-danger'>
            <td>商户备注</td>
            <td>{$wd_mh_remark}</td>
        </tr>
        <tr>
            <td>说明</td>
            <td>
                <textarea name="wd_desc" style="width:100%;height:100px;">{$wd_desc}</textarea>&nbsp;<span class='uk-text-muted'>前台商户可见</span>
            </td>
        </tr>
        <tr>
            <td>{$Think.lang.remark}</td>
            <td>
                <ul class="uk-breadcrumb">
                    <volist name=":json_decode($wd_remark,true)" id="vo">
                        <li> <b>{$vo.ex_currency_name}</b>=><span class='uk-text-success'>{$vo.payout_rate}</span></li>
                    </volist>
                </ul>
            </td>
        </tr>
        <tr>
            <td>{$Think.lang.end_time}</td>
            <td>
                {$wd_enddate}
            </td>
        </tr>
        <tr>
            <td>--</td>
            <td>
                <button class="uk-button uk-button-danger" type="submit">{$Think.lang.save}</button>
            </td>
        </tr>
    </table>
    <form>
        <h3>**提现银行信息</h3>
        <div class="uk-alert uk-alert-danger">
            <include file="Resellerwithdraw/wdtable" />
        </div>