<table width="600" cellpadding="0" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td>
                <div style="width:600px;text-align:left;font:12px/15px simsun;color:#000;background:#fff;">
                    <p>Dear merchant,</p>
                    <p>This is the notification for new approved transaction with ipasspay.com.</p>
                    <ul>
                        <li><b>Order ID:&nbsp;</b>23432432432</li>
                        <li><b>Merchant Order ID:&nbsp;</b>23432432432</li>
                        <li><b>Order Amount:&nbsp;</b>23432432432</li>
                        <li><b>Order Time:&nbsp;</b>23432432432</li>
                        <li><b>From:&nbsp;</b>23432432432</li>
                        <li><b>Merchant ID:&nbsp;</b>23432432432</li>
                        <li><b>Customer Email:&nbsp;</b>23432432432</li>
                    </ul>
                    **<b>Please note:</b>
                    <ol>
                        <li>
                            Reach the customer soon and confirm if the transaction was authorized by the cardholder.
                        </li>
                        <li>
                            If you&#39;re a tangible products seller,please upload the tracking information soon after delivering.
                        </li>
                        <li>
                            Billing descriptor:
                        </li>
                        <li>
                            Contact support@ipasspay.com if you have issues with the order.
                        </li>
                        <li>
                            Sign in the dashboard of ipasspay to get more order details.
                        </li>
                        <li>This is an auto email,please don't reply it directly.</li>
                    </ol>
                    <p>
                        Thanks for your time.
                        <hr>
                        <p>Kind regards,
                            <br><a href="https://www.ipasspay.com">www.ipasspay.com</a>
                            <br><span style="font-weight: bold;">Secure,Fast and Stable.<br>Your reliable credit card payment solution provider.<br></span>
                            <br><img src="https://www.ipasspay.com/Public/Common/img/logo.png" style="width: 225px; height: 70px;">
                            <br><span style="color: rgb(128, 128, 128);"><font size="2">This e-mail message (and attachments) may contain information that is confidential to iPasspay.com. If you are not the intended recipient you cannot use, distribute or copy the message or attachments. In such a case, please notify the sender by return e-mail immediately and erase all copies of the message and attachments. Opinions, conclusions and other information in this message and attachments that do not relate to the official business of iPasspay.com are neither given nor endorsed by it.</font></span>
                            <br><span style="font-weight: bold;"><br><br></span>
                        </p>
                    </p>
                </div>
            </td>
        </tr>
    </tbody>
</table>
