<layout name="inner" />
<eq name="download_flag" value="0">
    <div class="uk-alert uk-alert-danger">{$Think.lang.download_notice}</div>
</eq>
<eq name="download_flag" value="1">
    <a href="__CONTROLLER__/downloadCsv" class="uk-button uk-button-primary uk-width-1-1">{$Think.lang.download_csv}</a>
</eq>
<load href="__PUBLIC__/{:UIKIT}/css/components/datepicker.almost-flat.min.css" />
<load href="__PUBLIC__/{:UIKIT}/js/components/datepicker.min.js" />
<load href="__PUBLIC__/{:UIKIT}/js/components/lightbox.min.js" />
<form class="uk-form">
    <div class="uk-grid">
        <div class="uk-width-medium-1-4 uk-width-small-1-2">{$Think.lang.amount}:
            <input type="text" name="st_amount" placeholder="" class="uk-width-1-1">
        </div>
        <div class="uk-width-medium-1-4 uk-width-small-1-2">{$Think.lang.reason}:
            <input type="text" name="st_reason" placeholder="" class="uk-width-1-1">
        </div>
        <div class="uk-width-medium-1-4 uk-width-small-1-2">{$Think.lang.start_time}:
            <input type="text" name="st_time_start" data-uk-datepicker="{format:'YYYY-MM-DD'}" placeholder="" class="uk-width-1-1">
        </div>
        <div class="uk-width-medium-1-4 uk-width-small-1-2">{$Think.lang.end_time}:
            <input type="text" name="st_time_end" data-uk-datepicker="{format:'YYYY-MM-DD'}" placeholder="" class="uk-width-1-1">
        </div>
        <div class="uk-width-medium-1-4 uk-width-small-1-2">{$Think.lang.type}:
            <select name="st_name">
                <option value="">--</option>
                <volist name="Think.lang.st_type" id="vo">
                    <option value="{$key}">{$vo}</option>
                </volist>
            </select>
        </div>
    </div>
    <p>
        <label>
            <input type="checkbox" name="create_csv" />&nbsp;{$Think.lang.create_csv}</label>
    </p>
    <p>
        <button type="submit" class="uk-button uk-button-danger">{$Think.lang.search}</button>
    </p>
</form>
<br>
<div class="uk-panel uk-panel-box">
    <ul class="uk-breadcrumb">
        <li><span class='uk-text-success'> +&nbsp;:&nbsp;{$plus|number_format='2'}</span></li>
        <li><span class='uk-text-danger'> -&nbsp;:&nbsp;{$minus|number_format='2'}</span></li>
        <li><span> {$Think.lang.fee}&nbsp;:&nbsp;{$fee|number_format="2"}</span></li>
    </ul>
</div>
<div class="uk-overflow-container">
    <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
        <thead>
            <tr>
                <th>{$Think.lang.add_time}</th>
                <th>{$Think.lang.amount}</th>
                <th>{$Think.lang.fee}</th>
                <th>{$Think.lang.type}</th>
                <th width=350>{$Think.lang.reason}</th>
                <th>{$Think.lang.balance}</th>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="vo">
                <tr>
                    <td>{$vo.st_time}</td>
                    <td>
                        <eq name="vo.st_flag" value="1">
                            <font color=green>
                                +
                                <else/>
                                <font color=red>
                                    -
                        </eq>
                        {$vo.st_amount|number_format="2"}
                        </font>
                        </eq>
                    </td>
                    <td>{$vo.st_fee}</td>
                    <td>{$vo.st_name|statement_type=true}</td>
                    <td>{$vo.st_reason}</td>
                    <td>{$vo.st_balance}</td>
                </tr>
            </volist>
        </tbody>
    </table>
    {$page}
</div>