<li class="uk-nav-divider"></li>
<li <eq name="CONTROLLER_NAME" value="Users">class="tm-uk-active"</eq>> <a href="__MODULE__/Users/index">{$Think.lang.myaccount}</a></li>
<li <eq name="CONTROLLER_NAME" value="Send">class="tm-uk-active"</eq> > <a href="__MODULE__/Send/index">{$Think.lang.send_money}</a> </li>
<li <eq name="CONTROLLER_NAME" value="Request">class="tm-uk-active"</eq>> <a href="__MODULE__/Request/index">{$Think.lang.request_money}</a> </li>
<li class="uk-nav-divider"></li>
<li <eq name="CONTROLLER_NAME" value="Statement">class="tm-uk-active"</eq>> <a href="__MODULE__/Statement/index">{$Think.lang.my_statement}</a> </li>
<li <eq name="CONTROLLER_NAME" value="Notice">class="tm-uk-active"</eq>> <a href="__MODULE__/Notice/index">{$Think.lang.notice}</a></li>
<li <eq name="CONTROLLER_NAME" value="Support">class="tm-uk-active"</eq>> <a href="__MODULE__/Support/index">{$Think.lang.support_center}</a></li>
<li class="uk-nav-divider"></li>
<li <eq name="CONTROLLER_NAME" value="Bank">class="tm-uk-active"</eq>> <a href="__MODULE__/Bank/index">我的银行</a></li>
<li <eq name="CONTROLLER_NAME" value="Favcontact">class="tm-uk-active"</eq>> <a href="__MODULE__/Favcontact/index">常用联系人</a></li>
<li <eq name="CONTROLLER_NAME" value="Blacklist">class="tm-uk-active"</eq>> <a href="__MODULE__/Blacklist/index">黑名单</a></li>
<li <eq name="CONTROLLER_NAME" value="Knowledgebase">class="tm-uk-active"</eq>> <a href="__MODULE__/Knowledgebase/index">知识库</a></li>